.dropdowns {
    font-family: "Verdana";
    height: 40px;
    color: whitesmoke;
    position: relative;
    left: 40px;
    background-color: mediumvioletred;
}

#findSongs {
    position: relative;
    left: 60px;
    color: whitesmoke;
}

#numbSongs {
    position: relative;
    left: 50px;
}

h1 {
    position: relative;
    left: 40px;
}

#resultTable {
    font-family: "Verdana";
    color: black;
    position: center;
}

#nextSearch {
    position: relative;
    left: 80px;
}

#instructions {
    align-items:center;
    font-family: "Arial";
    color: #5c5e61;
    font-weight:bold;
}

#tbl {
    font-family: "Verdana";
    color: black;
    position: center;
}

#title  {
}